COMPOSE_PROJECT_NAME=template

APP_PORT=8080

PHP_VERSION=8.3

MYSQL_VERSION=8 #Or 57
MYSQL_INITDB_DIR=./config/initdb
MYSQL_DATA_DIR=./data/mysql
MYSQL_LOG_DIR=./logs/mysql
MYSQL_ROOT_PASSWORD=tiger
MYSQL_USER=docker
MYSQL_PASSWORD=docker
MYSQL_DATABASE=docker
